.btn.btn-khampha {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        color:#ffffff;
        cursor: pointer;
        .fa-arrows-alt {
            margin-right: 0.5rem;
        }
}