.billBoard-slider {
    display: flex;
    .billBoard-numSlide  {
        color:#ffffff;
        background-color:$themeColor2;
    }
   
    .billBoard-images {
        img {
            width:100%;
        }
    }
    
}
.billBoard-infor {
    background-color:$themeColor1;
    display: flex;
    color:#ffffff;
    .infor-timer {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        font-size: 0.8rem;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        padding: 0.2rem;
        align-self: center;
    }
    .infor-content {
        width:calc(100% - 13.5rem);
        align-items: center;
        padding: 0.5rem;
        display: flex;
        font-size: 0.7rem;
    }
    .infor-btn {
        width: 10rem;
        display: flex;
        color:#ffffff;
        justify-content: center;
        align-self: center;
    }
}
.arrowsBox {
  
    .arrows-btnNext,.arrows-btnBack {
        background-color:#fdd700;
        color:#ffffff;
        text-align: center;
        width: 3.5rem;
        height: 3.5rem;
    }
    .arrows-btnNext {
        order: 2;
    }
    .arrows-btnBack {
        order:1;
    }
}