@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('./fonts/RobotoSlab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoSlab';
    src: url('./fonts/RobotoSlab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Awesome';
    src: url('./fonts/FontAwesome/FontAwesome-Regular-400.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Awesome';
    src: url('./fonts/FontAwesome/FontAwesome-Solid-900.otf') format('opentype');
    font-weight: 900;
}

@font-face {
    font-family: 'Ethnocentric';
    src: url('./fonts/ethnocentric.ttf') format('truetype');
    font-weight: 900;
}