@media (max-width:322px) {
    html {
        font-size: 8px;
    }
    .desktop-only {
        display: none;
    }
    .displayInline {
        display: inline-block;
    }
    .container {
        padding:0px;
    }
    .display-4  {
        font-size: 2.5rem;
        font-family: Montserrat;
    }
    .display-1 {
        font-weight: bold;
    }
    .biggestH1 {
        color:#ffffff;
        background-color:$themeColor2;
        padding:1rem;
        display: inline-block;
    }
    .header {
        display: flex;
        .logo-img {
            width:10rem;
            order: 2;
        }
        .header-menu {
            order:1;
            .hambugerMenu {
                color: $themeColor2;
                border:none;
                border-color: none;
                font-size: 1.3rem;
            }
            .fa-bars {
                color:$themeColor2;
            }
        }
        .headerBtn {
            order:3;
        }
    }
    .billBoard {
        display: flex;
    }
    .billBoard-head__img {
        display: none;
    }
    .billBoard-buttonGroup {
        display: none;
    }
    .billBoard-slider {
        flex-flow: column;
        .billBoard-controls {
            font-size: 2rem;
            display: flex;
            justify-content: space-between;
            .billBoard-numSlide {
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
            }
        }
    }
    .arrowsBox {
        display: flex;
        flex-flow: row;
    }
    .introduction {
        .introduction-content { 
            padding:3rem;
            .introduction-img {
                max-width: 250px;
                max-height: 350px;
                width: 100%;
            }
            .introduction-content__left, .introduction-content__right {
                width: calc(100% - 20%);
                display: inline-block;
                top: 0;
                left: 0;
                position: absolute;
                top: 19%;
                left: 10%;
                line-height: 2rem;
                color: #fff;
                padding-left: 10%;
                padding-right: 10%;
                margin: 0 auto;
                .fa-code {
                    font-size: 4rem;
                }
            } 
            .content__left-main {
                font-size: 1rem;
            }
        }
    }   
    .headline {
        font-size: 2rem;
    }
    .infor-content {
        font-size: 0.7rem;
    }
    .content__left-btn,.content__right-btn {
        margin-top: 10px;
    }
    .introduction-left {
        margin-bottom: 20px;
    }
    .slider2-content {
        max-width: 100%;
        margin-top: 0;
        transform: unset;
        box-shadow:none;
        position: relative;
    }
    .haveBoxShadow {
        box-shadow: 0px 2px 8px 0px #ddd;
    }
    .connectUs {
        display: inline-block !important;
        .connectLeft {
            color:$themeColor2;
            font-size: 2.5rem;
            text-align: center;
            font-family: RobotoSlab;
            margin-bottom:1rem;
            margin-top: 3rem;
        }
        .connectRight {
            display: flex;
            margin-top: 1rem;
            margin-bottom: 1rem;
            input {
                width:calc(100% - 3rem);
                padding:1rem;
                background-color:$bgThemColor2;
                border:none;
                font-size: 1.2rem;
               
            }
            .fa-check {
                padding: 1.2rem;
                font-size: 1.2rem;
                color:#ffffff;
                background-color:$themeColor1;
                cursor: pointer;
                &:hover {
                    background-color:#fdd700;
                }
            }
        }
    }
    .Footer {
        // padding: 60px;
        #Footer-main {
            grid-template-columns:  1fr; 
            grid-column-gap: 30px;
        }
    }
    .bgColor2 {
        padding-bottom: 0rem;
    }
    
}
@media (min-width: 322px) {     
    html {
        font-size:10px; 
    }
    .desktop-only {
        display: none;
    }
    .displayInline {
        display: inline-block;
    }
    .container {
        padding:0px;
    }
    .display-4  {
        font-size: 2.5rem;
        font-family: Montserrat;
    }
    .display-1 {
        font-weight: bold;
    }
    .biggestH1 {
        color:#ffffff;
        background-color:$themeColor2;
        padding:1rem;
        display: inline-block;
    }
    .header {
        display: flex;
        .logo-img {
            width:10rem;
            order: 2;
        }
        .header-menu {
            order:1;
            .hambugerMenu {
                color: $themeColor2;
                border:none;
                border-color: none;
                font-size: 1.3rem;
            }
            .fa-bars {
                color:$themeColor2;
            }
        }
        .headerBtn {
            order:3;
        }
    }
    .billBoard {
        display: flex;
    }
    .billBoard-head__img {
        display: none;
    }
    .billBoard-buttonGroup {
        display: none;
    }
    .billBoard-slider {
        flex-flow: column;
        .billBoard-controls {
            font-size: 2rem;
            display: flex;
            justify-content: space-between;
            .billBoard-numSlide {
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
            }
        }
    }
    .arrowsBox {
        display: flex;
        flex-flow: row;
    }
    .infor-content {
        font-size: 0.7rem;
    }
    .content__left-main {
        font-size: 0.8rem;
        margin-top: 5px;
    } 
    .content__left-btn,.content__right-btn  {
        margin-top: 10px;
    }
    .introduction-left {
        margin-bottom: 20px;
    }
    .featureItem {
        font-size: 1.2srem;
    }
     .slider2-content {
        max-width: 100%;
        margin-top: 0;
        box-shadow: 0px 2px 8px 0px #ddd;
        position: relative;
        transform:unset;
    }
    .connectUs {

    .connectLeft {
        color:$themeColor2;
        font-size: 2.5rem;
        text-align: center;
        font-family: RobotoSlab;
        margin-bottom:1rem;
        margin-top: 3rem;
    }
    .connectRight {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        input {
            width:calc(100% - 3rem);
            padding:1rem;
            background-color:$bgThemColor2;
            border:none;
            font-size: 1.2rem;
            outline: none;
        }
        .fa-check {
            padding: 1.2rem;
            font-size: 1.2rem;
            color:#ffffff;
            background-color:$themeColor1;
            cursor: pointer;
            &:hover {
                background-color:#fdd700;
            }
        }
    }
}
.Footer {
    // padding: 3rem;
    #Footer-main {
        grid-template-columns:  1fr; 
        grid-column-gap: 30px;
    }
}
.bgColor2 {
    padding-bottom: 0rem;
}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 766px) { 
    html {
        font-size: 12px;
    }
    .container {
        max-width: 770px;
    }
    .display-4  {
        font-size: 4rem;
    }
    .display-1 {
        font-weight: bold;
    }
    .infor-content {
        font-size: 1rem;
    }
    .biggestH1 {
        color:#ffffff;
        background-color:$themeColor2;
        padding:1rem;
        font-size: 6rem;
        display: inline-block;
    }
    .header {
        display: flex;
        .logo-img {
            width:10rem;
            order: 2;
        }
        .header-menu {
            order:1;
        }
        .headerBtn {
            order:3;
        }
    }
    .billBoard-head__img {
       display: none;
    }
    .billBoard-buttonGroup {
        display: none;
    }
    .billBoard-slider {
        flex-flow: column;
        .billBoard-controls {
            font-size: 2rem;
            display: flex;
            justify-content: space-between;
            .billBoard-numSlide {
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
            }
        }
    }
    .introduction {
        .introduction-content { 
            display: inline-block;

            .introduction-img {
                max-width: 500px;
                max-height: 600px;
                width: 100%;
            }
            .introduction-content__left, .introduction-content__right {
                width: calc(100% - 20%);
                display: inline-block;
                top: 0;
                left: 0;
                position: absolute;
                top: 19%;
                left: 10%;
                line-height: 3.3rem;
                color: #fff;
                padding-left: 10%;
                font-size: 2rem;
                padding-right: 10%;
                margin: 0 auto;
                .fa-code {
                    font-size: 4rem;
                }
            } 
        }
    }   
    .bgColor2 {
        padding-bottom: 0rem;
    }
    .headline {
        font-size: 4rem;
    }
    .content__left-main {
        font-size: 1.5rem;
    } 
    .content__left-btn, .content__right-btn {
        font-size: 1rem;
    } 
    .introduction-left {
        margin-bottom: 20px;
    }
    .Footer {
        padding-top: 3rem;
        #Footer-main {
            grid-template-columns:  1fr; 
            grid-column-gap: 30px;
            font-size: 0.8rem;
            .footer-head {
                font-size: 1.5rem;
            }
        }
    }
    .featureItem {
        font-size: 2rem;
    }
    .demoBtn,.supportBtn {
        font-size: 1.5rem;
    }
    .connectUs {

        .connectLeft {
            color:$themeColor2;
            font-size: 2.5rem;
            text-align: center;
            font-family: RobotoSlab;
            margin-bottom:1rem;
            margin-top: 3rem;
        }
        .connectRight {
            display: flex;
            margin-top: 1rem;
            justify-content: center;
            margin-bottom: 1rem;
            input {
                width:calc(100% - 12rem);
                padding:1rem;
                background-color:$bgThemColor2;
                border:none;
                font-size: 1.2rem;
                outline: none;
            }
            .fa-check {
                padding: 1.2rem;
                font-size: 1.2rem;
                color:#ffffff;
                background-color:$themeColor1;
                cursor: pointer;
                &:hover {
                    background-color:#fdd700;
                }
            }
        }
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    html {
        font-size: 14px;
    }
    .container {
        max-width: 1260px;
    }
    .display-4  {
        font-size: 2.5rem;
    }
    .display-1 {
        font-weight: bold;
    }
    .biggestH1 {
        color:#ffffff;
        background-color:$themeColor2;
        padding:1rem;
        font-size: 4rem;
        letter-spacing: 0.25rem;
        display: inline-block;
    }
    .header {
        display: flex;
        .logo-img {
            order: 1;
        }
        .header-menu {
            order:2;
        }
        .headerBtn {
            order:3;
        }
    } .billBoard {
  
        .billBoard-head {
            
            font-weight: bold;
            .billBoard-head__img {
                display: inline-block;
                width: 10rem;
            }
            .billBoard-buttonGroup {
                display: block;
            }
        }
    }
    .billBoard-slider {
        flex-flow: row;
        
        .billBoard-controls {
            font-size: 2rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .billBoard-numSlide {
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;
            }
        }
    }
    .arrowsBox {
        display: inline-block;
    }
    .introduction-content {
        display: flex;
    }
    .content__left-btn,.content__right-btn {
        font-size: 1rem;
        margin-top:15px;
    } 

    .introduction {
        .introduction-content { 
            display: inline-block;

            .introduction-img {
                max-width: 500px;
                max-height: 600px;
                width: 100%;
            }
            .introduction-content__left, .introduction-content__right {
                width: calc(100% - 20%);
                display: inline-block;
                top: 0;
                left: 0;
                position: absolute;
                top: 15%;
                left: 10%;
                line-height: 2rem;
                color: #fff;
                padding-left: 10%;
                font-size: 1.7rem;
                padding-right: 10%;
                margin: 0 auto;
                .fa-code {
                    font-size: 4rem;
                }
            } 
            .content__left-main {
                font-size: 1rem;
            } 
        }
    }   
    .featureItem {
        font-size: 1.2rem;
    }
    .slider2-content {
        font-size: 1.1rem;
        display: inline-block;
        background-color: #fff;
        padding: 2rem;
        margin-top: 50%;
        transform: translateY(-55%);
        position: absolute;
        max-width: calc(100% - 23%);
        box-shadow: 6px 0px 8px 0px #ddd;
        .fa-quote-left {
            top:0.7rem;
            left:0.7rem;
        }
        .fa-share {
            padding:0.5rem;
            font-size: 1rem;
        }
    }
    .headline {
        padding:0.5rem;
        line-height: 3rem;
        font-size: 3rem;
    }
    .connectUs {

        .connectLeft {
            color:$themeColor2;
            font-size: 2.5rem;
            text-align: center;
            font-family: RobotoSlab;
            margin-bottom:2rem;
            margin-top: 3rem;
        }
        .connectRight {
            display: flex;
            margin-top: 3rem;
            margin-bottom: 1rem;
            justify-content: flex-start;
            input {
                width:calc(100% - 12rem);
                padding:1rem;
                background-color:$bgThemColor2;
                border:none;
                font-size: 1.2rem;
                outline: none;
               
            }
            .fa-check {
                padding: 1.2rem;
                font-size: 1.2rem;
                color:#ffffff;
                background-color:$themeColor1;
                cursor: pointer;
                &:hover {
                    background-color:#fdd700;
                }
            }
        }
    }
    .Footer {
        padding-top: 3rem;
        #Footer-main {
            grid-template-columns:  1fr 1fr 1fr; 
            grid-column-gap: 30px;
            font-size: 0.5rem;
            .footer-head {
                font-size: 1.5rem;
            }
        }
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1280px) { 
    html {
        font-size: 16px;
        font-family: Montserrat;
    }
    .display-4  {
        font-size: 2.5rem;
        font-family: Montserrat;
    }
    .display-1 {
        font-weight: bold;
    }
    .biggestH1 {
        color:#ffffff;
        background-color:$themeColor2;
        padding:1rem;
        display: inline-block;
    }
    .container {
        max-width: 1280px;
    }

    .desktop-only  {
        display: block;
    }
    .btn-signUp-mob {
        display: inline-block;
    }
    .header {
        display: flex;
        padding:10px 0 10px 0;
        justify-content: space-around;
        .logo-img {
            order: 1;
        }
        .header-menu {
            order:2;
        }
        .headerBtn {
            order:3;
        }
    }
   
    .billBoard {
       
        .billBoard-head {
            
            font-weight: bold;
            .billBoard-head__img {
                display: inline-block;
                width: 20rem;
            }
        }
    }
    .billBoard-slider {
        flex-flow: row;
        .billBoard-buttonGroup {
            display: block;
        }
        .billBoard-controls {
            font-size: 2rem;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            .billBoard-numSlide {
                width: 3.5rem;
                height: 3.5rem;
                text-align: center;

            }
        }
    }
    .introduction {
        

        .introduction-content { 
            display: flex;

            .introduction-img {
                max-width: 500px;
                max-height: 600px;
                width: 100%;
            }
            .introduction-content__left, .introduction-content__right {
                width: calc(100% - 20%);
                display: inline-block;
                top: 0;
                left: 0;
                position: absolute;
                top: 19%;
                left: 10%;
                line-height: 2rem;
                color: #fff;
                padding-left: 10%;
                font-size: 1.7rem;
                padding-right: 10%;
                margin: 0 auto;
                .fa-code {
                    font-size: 4rem;
                }
            } 
            .content__left-main {
                font-size: 1rem;
            } 
        }
    }   
    .arrowsBox {
        display: inline-block;
    }
    .introduction-content {
        display: flex;
    }
    .headline {
        font-size: 3rem;

    }
    .featureItem {
        font-size: 1.5rem;
    }
    .slider2-content {
        font-size: 1.1rem;
        display: inline-block;
        background-color: #fff;
        padding: 3rem;
        margin-top: 50%;
        transform: translateY(-55%);
        position: absolute;
        max-width: calc(100% - 23%);
        box-shadow: 6px 0px 8px 0px #ddd;
        .fa-quote-left {
            top:1rem;
            left:1rem;
        }
        .fa-share {
            padding:1rem;
            top:0px;
            right:0px;
            bottom: unset;
            font-size: 1.2rem;
        }
    }
    .connectUs {

        .connectLeft {
            color:$themeColor2;
            font-size: 2.5rem;
            text-align: center;
            font-family: RobotoSlab;
            margin-bottom:2rem;
            margin-top: 3rem;
        }
        .connectRight {
            display: flex;
            margin-top: 3rem;
            margin-bottom: 1rem;
            justify-content: flex-start;
            input {
                width:calc(100% - 12rem);
                padding:1rem;
                background-color:$bgThemColor2;
                border:none;
                font-size: 1.2rem;
                outline: none;
            }
            .fa-check {
                padding: 1.2rem;
                font-size: 1.2rem;
                color:#ffffff;
                background-color:$themeColor1;
                cursor: pointer;
                &:hover {
                    background-color:#fdd700;
                }
            }
        }
    }
 }